@model List<ModelEF.Model.SanPham>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Product Detail</h4>
            <p class="card-category"><a href="/Admin/Product">Back</a></p> 
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>@Model.First().Name</h2>
                </div>
                <div class="row">
                    <div class="tim-typo">
                        <h1>
                            <span class="tim-note">Image</span>
                            <img style="width: 300px;" src="~/Asset/Admin/img/@Model.First().Image" />
                        </h1>
                    </div>
                    <div class="tim-typo">
                        <h2>
                            <span class="tim-note">UniCost</span>@Model.First().UniCost
                        </h2>
                    </div>
                    <div class="tim-typo">
                        <h3>
                            <span class="tim-note">Quanity</span>@Model.First().Quanity
                        </h3>
                    </div>
                    <div class="tim-typo">
                        <h4>
                            <span class="tim-note">Discription</span>@Model.First().Discription
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
